python-dotenv==1.0.1
streamlit==1.24.0
google-generativeai==0.7.2
PyPDF2==3.0.1

# IMPORTANT: old Pillow required for Streamlit 1.24 + canvas
Pillow==9.5.0

# IMPORTANT: old numpy required for Streamlit 1.24 + canvas
numpy==1.26.4

streamlit-drawable-canvas==0.9.3
pydub==0.25.1
